.spinner {
  @apply fixed 
  top-0 
  left-0 
  flex 
  justify-center 
  items-center
  w-full
  h-full
  bg-black
  bg-opacity-80;
  &-content {
    @apply perspective-1000
    rounded-full
    w-12
    h-12
    text-white
    rotate-45;
    &:before,
    &:after {
      animation: 1s spin linear infinite;
      @apply content-[""]
      block
      absolute
      top-0
      left-0
      w-[inherit]
      h-[inherit]
      rounded-full
      rotate-x-70;
    }
    &:after {
      animation-delay: 0.4s;
      @apply rotate-y-70
      text-red-500;
    }
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
